body{
	background-image: linear-gradient(to bottom,#ffcc99,#ff9999,#cc6699,#996699,#585858);
	background-repeat: no-repeat;
}
#big_wrapper{
	background-color:#f1f6e5;
	margin: 100px 500px;
	box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.534);
}
header{
	height:120px;
	background-color: #ff9999;
	border-bottom: 1px solid grey; 
}
section{
	text-align: center;
	margin:50px;
}
h1{
	text-align: center;
	position: relative;
	top:50px;
}
div{
	margin:10px;
	line-height: 25px;
}
label{
	font-size: 20px;
}
button{
	border-radius: 25px;
	background-color: #ff9999;
	box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.3);
	border:none;
	outline: none;
	width: 225px;
	height:35px;
	margin-top: 30px;
	margin-bottom: 50px;
	padding: 5px;
	position: relative;
	left:5px;
}
hr{
	box-shadow:  0 0 5px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width:510px){
	body{
	background-image: linear-gradient(to bottom,#ffcc99,#ff9999,#cc6699,#996699,#585858);
	height: 100vh;
}
	#big_wrapper{
		width:75%;
		margin: auto;
		box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.534);
		position:relative;
	}
	button{
		width: 100%;
	}
	input{
		width:100%;
	}
	h1{
	    padding:2px;
		top:40px;
	}
}
